@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* Brand Colors */
  --color-vino: #614546;
  --color-rojo-oscuro: #B61F1F;
  --color-rojo-fuerte: #E50000;
  --color-gris-medio: #D7D7D7;
  --color-gris-claro: #FAFAFA;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-vino: var(--color-vino);
  --color-rojo-oscuro: var(--color-rojo-oscuro);
  --color-rojo-fuerte: var(--color-rojo-fuerte);
  --color-gris-medio: var(--color-gris-medio);
  --color-gris-claro: var(--color-gris-claro);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
